/*footer {
    text-align: center;
    font-family: sans-serif;
    background-color: #3f51b5;
    color: #fff;
    width: 99%;
    height: 50px;
    position: absolute;
    bottom: 0;
}*/

/*footer {
    font-size: .85em;
    background:#aaae48;
    color:#FFF;
    padding: 1em 0;
}
footer .container .box {
    width: 23.5%;
    float: left;
    padding-left: 2%;
    text-align: left
}
footer .container .box h3 {
    font-family: "GothamRounded-Book", sans-serif
}
footer .container .box:first-child {
    padding-left: 0
}
footer .container .box ul li {
    line-height: 250%
}
footer .container .box ul li a {
    color: #FFF
}
footer .container .box ul li a:hover {
    color: #0AA6A9
}
footer .container .four {
    text-align: right
}
footer .container .four ul li.mixpanel {
    padding: 15px 0 0 0
}
footer .container .four ul.redes li {
    display: inline-block
}
footer .container .four ul.redes li a i {
    color: #797979;
    padding: 0.5em;
    border: 2px solid #797979;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
footer .box-mobile {
    display: none
}*/